<footer class="footer">
	
		<div id="bunner" class="coockies-bunner">
			<div class="container">
				<div class="bunner-wrap">
					<p>ExactFlow uses cookies to provide necessary website functionality, improve your experience and
						analyze
						our traffic. By using our website, you agree to our <a href="privacy-policy.html"> <i>Privacy Policy</i></a> and our <a
							href="cookie-policy.html"><i>Cookies Policy.</i></a></p>
					<div class="bunner-button-wrap">	
						<button id="bunner-button" class="ok-button">Ok</button>
					</div>	
				</div> 
			</div>			
		</div>
	
	<div class="footer__content container">

		<img src="img/footer-logo.svg" alt="" class="footer-logo">
		<p class="copy-right">©Copyright 2018-2021 PXE Group LLC. All Rights Reserved.</p>
		<div class="footer-refs-wrapper">
			<a href="terms.html" class="footer-ref">Terms</a>
			<a href="cookie-policy.html" class="footer-ref">Cookies </a>
			<a href="privacy-policy.html" class="footer-ref">Privacy</a>
			<a href="#test-modal" class="popup-modal footer-ref">Contact</a>
		</div>
	</div>
</footer>
<div id="test-modal" class="mfp-hide">
							
	<div class="modal-input-wrapper">
		<div class="popup-ico">
			<img src="img/popup-ico1.svg" alt="">
		</div>
		<h2 class="modal-title">We’re here to help!</h2>
		<div class="modal-input-grid">
			<input type="name" placeholder="First Name*">
			<input type="name" placeholder="Last Name*">
			<input type="email" placeholder="Work Email*">
			<input type="text" placeholder="Company Name*">
		</div>
		<div class="modal-input-phone">
			<input type="number" placeholder="Phone Number">
		</div>
		<div class="modal-input-text">
			<textarea name="" id="" cols="30" rows="15" placeholder="How can we help you :"></textarea>
		</div>
		<div class="send-button-wrap">
			<a href="#" class="send-button">Send message</a>
		</div>
	</div>
	<p><a class="popup-modal-dismiss close" href="#"></a></p>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="js/script.min.js?v=1.0.2"></script>
</div>
</body>

</html>