<header class="header">
	<a href="index.html" class="header__logo">
		<img src="img/logo.svg" alt="logo">
	</a>
	<ul class="header__menu">
		<li><a href="login-page.html" class="header__menu-link anchor">Log In</a></li>
		<a href="#test-modal" class="popup-modal button">Contact Us</a>
		<li><a href="index.html" class="header-img"><img src="img/flag.svg" alt="" class="flag"></a></li>
	</ul>
	
	<div class="icon-menu"><span></span></div>
</header>

<div id="test-modal" class="mfp-hide">
							
	<div class="modal-input-wrapper">
		<div class="popup-ico">
			<img src="img/popup-ico1.svg" alt="">
		</div>
		<h2 class="modal-title">We’re here to help!</h2>
		<div class="modal-input-grid">
			<input type="name" placeholder="First Name*">
			<input type="name" placeholder="Last Name*">
			<input type="email" placeholder="Work Email*">
			<input type="text" placeholder="Company Name*">
		</div>
		<div class="modal-input-phone">
			<input type="number" placeholder="Phone Number">
		</div>
		<div class="modal-input-text">
			<textarea name="" id="" cols="30" rows="15" placeholder="How can we help you :"></textarea>
		</div>
		<div class="send-button-wrap">
			<a href="#" class="send-button">Send message</a>
		</div>
	</div>
	<p><a class="popup-modal-dismiss close" href="#"></a></p>
</div>